	<style type="text/css">
		body {
			width: 500;
			margin-left: auto;
    		margin-right: auto;
    		float: center;
		}
		.cropFrame {
			overflow : hidden;
			position : relative;
			display: inline-block;
		}

		.toy {
			float: left;
			min-height: 10em;
   			display: inline;
		}

	</style>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery.crop.js"></script>
	<script type="text/javascript">
		$( function () {
			$( '.crop' ).crop();
		})
	</script>


<form action="" method="GET">
<input type="text" name="search" placeholder="Search">
<input type="submit" value="Search">
</form>

{% if toys_list %}
    {% for toy in toys_list %}
    <div class="toy">
    	<a href="/static/{{ toy.picUrl }}">{{ toy.title }}</a> ({{toy.toyType.title}})</br>
    	<p>Цена: {{toy.price}}</br>
    	Производитель: {{toy.manufacturer.title}}</br>
    	<p><img class="crop" src="/static/{{toy.picUrl}}" width="200" height="200" /></br>
    </div>
    {% endfor %}
{% else %}
    <p>No toys are available.</p>
{% endif %}